### Shared ###
node_modules/**/*
node_modules

# Mac OS
.DS_*

### React ###

*.log
logs
**/*.backup.*
**/*.back.*

# Optional eslint cache
.eslintcache

bower_components

# Generated CSS Classes
**/tailwind.css
*.sublime*

psd
thumb
sketch


### React Rative ###

.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/


